In [5]:
letters='python'
let=letters
print(let[0],let[2])

p t

In [7]:
license_plate = "24가 2210"
# print(license_plate [4::])
print(license_plate[-4:] )

2210

In [8]:
string = "홀짝홀짝홀짝"
print(string[0::2] )

홀홀홀

In [9]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [10]:
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))

010 1111 2222

In [12]:
phone_number.replace("-"," ").replace(" ","")

'01011112222'

In [17]:
url = "http://sharebook.kr"
ind=url.index(".")
print(url[ind+1::])

kr

In [19]:
# 27번
# split은 특정 문자열을 기준으로 분리되어 `리스트`로 저장 
url_split=url.split(".")
type(url_split)

list

In [ ]:
# 28번
# `문자열`은 변경 불가 , `이뮤터블``

In [20]:
string = 'abcdfe2a354a32a'
string.replace("a","A")

'Abcdfe2A354A32A'

In [ ]:
# 30번
# replace를 통한 변경은 원본의 변경이 아닌 호출 다른 변수 값으로 지정 필요

In [ ]:
34

In [ ]:
hihihi

In [21]:
t1 = 'python'
t2 = 'java'

(t1+' '+t2+" ")*4

'python java python java python java python java '

In [23]:
# 35 . %s %d
"이름: {0} 나이: {1}".format("김민수","10")

'이름: 김민수 나이: 10 '

In [24]:
a="김민수"
b=10
f'이름: {a} 나이: {b}'

'이름: 김민수 나이: 10'

In [26]:
상장주식수 = "5,969,782,550"
int(상장주식수.replace(",",""))

5969782550

In [31]:
분기 = "2020/03(E) (IFRS연결)"
분기[:7:]
분기

'2020/03(E) (IFRS연결)'

In [32]:
data = "   삼성전자    "
data.strip()
data

'   삼성전자    '

In [33]:
# 41
ticker = "btc_krw"
ticker.upper()

'BTC_KRW'

In [37]:
ticker = "BTC_KRW"
ticker.lower()

'btc_krw'

In [40]:
# 43
a = "hello"
a=a.capitalize()
a

'Hello'

In [43]:
# 44
file_name = "보고서.xlsx"
a=file_name
a.endswith('xlsx')

True

In [47]:
# 45
file_name.endswith(("xlsx","xls"))

True

In [51]:
# 46
file_name = "2020_보고서.xlsx"
file_name.startswith('2020')

True

In [52]:
a = "hello world"
a.split()

['hello', 'world']

In [54]:
ticker = "btc_krw"
ticker.split('_')

['btc', 'krw']

In [56]:
date = "2020-05-01"
date.split('-')

['2020', '05', '01']

In [58]:
data = "039490     "
data.rstrip()

'039490'

In [71]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [72]:
# 52
movie_rank.append("배트맨")

In [73]:
# 53
movie_rank.insert(1,"슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [78]:
# 54
del movie_rank[3]
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [79]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang3 = lang1+lang2
lang3

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [81]:
nums = [1, 2, 3, 4, 5, 6, 7]
max=min(nums)
min=min(nums)
print(f'max: {max}\nmin: {min}')

max: 1
min: 1

In [82]:
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [83]:
len(nums)

5

In [85]:
sum(nums)/len(nums)

3.0

In [86]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1::]

[100, 130, 140, 150, 160, 170]

In [87]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[0::2]

[1, 3, 5, 7, 9]

In [88]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [89]:
nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [90]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [92]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
' '.join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [94]:
"/".join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [101]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [104]:
string = "삼성전자/LG전자/Naver"
interest=string.split('/')
interest

['삼성전자', 'LG전자', 'Naver']

In [106]:
# 70
# sorted는 원본 x sort는 원본
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [108]:
my_variable=()
type(my_variable)

tuple

In [109]:
movie_rank=("닥터스트레인지","스플릿","럭키")

In [113]:
# 73
# 튜플은 ,가 중요하다
int=1,
type(int)

tuple

In [116]:
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')

In [119]:
# 78
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest_li=list(interest)
type(interest_li)

list

In [ ]:
# 79 튜플 언패킹
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

In [ ]:
# 80
even=tuple(range(2,100,2))
even

In [129]:
# 81 별 표현식을 통한 데이터 언패킹
a,b,*c=0, 1, 2, 3, 4, 5

In [130]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score,_,_=scores

In [131]:
valid_score

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [132]:
temp={"메로나":1000,"폴라포":1200,"빵빠레":1800}

In [135]:
# 86 딕셔너리에 원소 추가
temp["죠스바"]=1200
temp["월드콘"]=1500
temp

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [136]:

print("메로나 가격:",temp["메로나"])

메로나 가격: 1000

In [137]:
temp['메로나']:1300

In [ ]:
del temp['메로나']

In [140]:
temp

{'폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [141]:
inventory={"메로나":[300,20],"비비빅":[400,3],'죠스바':[250,100]}

In [143]:
print(inventory["메로나"][0],"원")

300 원

In [144]:
print(inventory["메로나"][1],"개")

20 개

In [145]:
inventory["월드콘"]=[500,7]

In [146]:
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [148]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream_keys=list(icecream.keys())

In [149]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
values=list(icecream.values())

In [150]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
sum_ice=sum(icecream.values())
print(sum_ice)

6700

In [151]:
# 98 dict에 dict 추가
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)

In [ ]:
# 99 dict에 두개의 튜플을 키와 값으로 묶는다.
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result=dict(zip(keys,vals))
print(result)

In [ ]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table=dict(zip(date, close_price))
print(close_table)

In [ ]:
# zip은 튜플로 동일한 인덱스에 값을 묶는다.

In [179]:
# dict 만드는 방식
dict={("a","b"),("c","d"),("e","f")}
dict

{('a', 'b'), ('c', 'd'), ('e', 'f')}

In [180]:
print(input()*2)

안녕하세요안녕하세요

In [ ]:
user=input()
print(10 + int(user))

In [ ]:
a=int(input())
if a%2==1:
    print("홀수")
else:
    print("짝수")

In [ ]:
a=int(input("숫자 입력:"))
if a+20>255:
    print(255)

else:
    a+20

In [ ]:
# 116 정수와 문자가 같이 나올 시 주의
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

In [ ]:
# 119 딕셔너리는 기본으로 키값을 바탕으로 비교한다

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
a=input()
if a in fruit.keys():
  print("정답입니다")
else:
  print("오답입니다.")

In [ ]:
# 121 islower() bool
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

In [ ]:
score=int(input("score:"))
if score